.card {
	position: relative;
	padding: 1rem;
	cursor: pointer;
	overflow: hidden;
	transition: border-radius 0.2s ease;
}

.card img,
.card div {
	position: relative;
}

.card::before {
	--size: 0;

	content: '';
	position: absolute;
	left: var(--x);
	top: var(--y);
	width: var(--size);
	height: var(--size);
	background: radial-gradient(circle closest-side, #e53e3e, transparent);
	transform: translate(-50%, -50%);
	transition: width 0.2s ease, height 0.2s ease;
}

.card:hover::before {
	--size: calc(100vw);
}
